.footer-bar {
    background-color: lightblue;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
.links {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}